/*FONTOS NE TÖRÖLD KI*/
a{
    display: none!important;
}
.vis{
    display: unset!important;
}
/*FONTOS VÉGE*/


body{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: lightgrey!important;
}


/*KEPEK*/
#logo{
    width: 15%;
    height: auto;
}

#kep1{
    background-image: url('https://idrinks.cdn.shoprenter.hu/custom/idrinks/catalog/view/theme/idrinks/image/advantages_premium_bg.jpg?lastmod=1651750677');
    background-repeat: no-repeat;
    background-size: auto;
}
#kep2{
    background-image: url('https://idrinks.cdn.shoprenter.hu/custom/idrinks/catalog/view/theme/idrinks/image/advantages_summer_bg.jpg?lastmod=1651750677');
    background-repeat: no-repeat;
    background-size: auto;
}
#kep3{
    background-image: url('https://idrinks.cdn.shoprenter.hu/custom/idrinks/catalog/view/theme/idrinks/image/advantages_weekdeal_bg.jpg?lastmod=1651750677');
    background-repeat: no-repeat;
    background-size: auto;
}
#fokep{
    background-image: url('../image/whisky-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#mellekkep{
    background-image: url('../image/pezsgo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*KEPEK VEGE*/


/*RACSOK*/
#harmas{
    height: 40vh;
    position: relative;
}
.racsok{
    height: 100vh;
    position: relative;
}
.popprod-bg{
    height: 75vh;
    position: relative;
}
div.foracs{
    width: 710px;
    height: 500px;
    position: relative;
    text-align: center;
    margin: 6px;
    cursor:pointer;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
    background-color: white;
}
div.mellekracs{
    width: 350px;
    height: 500px;
    position: relative;
    text-align: center;
    margin: 6px;
    cursor:pointer;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
    background-color: white;
}
div.kisracs{
    width: 350px;
    height: 140px;
    position: relative;
    text-align: center;
    margin: 6px;
    cursor:pointer;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
    background-color: white;
}
div.cuccok{
    width: 350px;
    height: 250px;
    position: relative;
    text-align: center;
    margin: 6px;
    cursor:pointer;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.szoveg{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: relative;
    top: 50px;
    left: -30px;
    color: white;
    cursor: pointer;
}
div.prem-hover:hover{
    background: rgba(255, 0, 0, 0.258);
    transition: all .5s;
}
.prem-hover{
    width: 100%;
    height: 100%;
    position: absolute;
}
div.kisr-hover:hover{
    background: rgba(68, 68, 68, 0.45);
    transition: all .5s;
}
.kisr-hover{
    width: 100%;
    height: 100%;
    position: absolute;
}
.card-bg{
    background-color: rgba(79, 79, 79, 0.3)!important;
    border: 1px solid white!important;
    color: white;
}
.card-bg:hover{
    color: black;
    border: none;
    background-color: rgba(255, 255, 255)!important;
    transition: all 1.5s;
}
/*RACSOK VEGE*/


/*NAVBAR*/
.navig{
    font-size: 1.3em;
}
.navbar-collapse{
    flex-grow: unset!important;
}
.navbar-cart{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-color);
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
.navbar-brand:hover{
    color: white!important;
    cursor: default;
}
/*NAVBAR VÉGE*/


/*CONTAINER*/
.cont1-bg{
    background-color: lightgrey;
}
.cont2-bg{
    background-image: url(../image/bar-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.cont3-bg{
    background-image: url(../image/pre-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*CONTAINER VÉGe*/


.eapp-age-verification-item-allow-buttons-yes:hover{
    background-color: rgb(10, 142, 34)!important;
}
.eapp-age-verification-item-allow-buttons-no:hover{
    background-color: rgba(69, 69, 69, 0.591)!important;
}
a.vis:hover{
    color: rgba(210, 0, 0)!important;
    transition: all 1s;
}
h1{
    text-align: center;
}
.imgs{
    width: 200px!important;
    height: 210px!important;
}
.customWidth{
    width: 16.2%!important;
}